.footer__button-icon {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.footer__button-icon:first-of-type {
    margin-left: 0;
}

.footer__menu {
    margin-bottom: 0.5em;
}

.footer__e-mail {
    margin-top: 1em;
}

.footer__phone {
    margin-top: 0.5em;
}

.footer__language-switcher {
    margin-top: 2em;
    margin-bottom: 2em;
}