@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Regular.eot');
    src: local('fonts/TT Lakes Regular'), local('fonts/TTLakes-Regular'), url('fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/TTLakes-Regular.woff') format('woff'), url('fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Bold.eot');
    src: local('fonts/TT Lakes Bold'), local('fonts/TTLakes-Bold'), url('fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/TTLakes-Bold.woff') format('woff'), url('fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
}

.page {
    font-family: 'TT Lakes';
    font-weight: normal;
    display: flex;
    flex-direction: column;
    /*background-color: tomato;*/
    width: 100%;
}

.mobile-page {
    font-family: 'TT Lakes';
    font-weight: normal;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 320px;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
}


/*.mobile-page__header {}*/

.mobile-page__footer {
    margin-left: 24px;
}