.more {
    background-repeat: no-repeat;
    background-position: left center;
    text-align: left;
    padding: 6px;
    font-family: 'TT Lakes';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    background-size: 24px;
    border: none;
    box-sizing: border-box;
    background-color: inherit;
    cursor: pointer;
    align-items: center;
}

.more__text {
    vertical-align: middle;
}

.more__image {
    transition: 0.5s;
}

.more__image--expand {
    transform: rotate(0deg);
}

.more__image--hide {
    transform: rotate(180deg);
}