.button-icon--display--xs {
    display: none;
}

.button-icon--display--md {
    display: none;
}

.button-icon--display--lg {
    display: none;
}

@media screen and (max-width: 767px) {
    .button-icon--display--xs {
        display: initial;
    }
}

@media screen and (min-width: 768px) and (max-width: 1119px) {
    .button-icon--display--md {
        display: initial;
    }
}

@media screen and (min-width: 1120px) {
    .button-icon--display--lg {
        display: initial;
    }
}